.sb-sidenav-menu {
    background-image: url("../img/main-bg.jpg") !important;
    background-size: cover;
}

.bg-light {
    background-color: black !important;
}

.text-muted {
    color: whitesmoke !important;
}

.navbar-dark {
    background-color: black !important;
}

.smalla {
    color: orange;
}